<footer>

  <div class="footer-content">
    <div class="footer-about">
      <h3>AE极客工坊</h3>
      <p>AE极客工坊是一个专注于After Effects教程、技巧和资源分享的专业平台。我们致力于帮助设计师和视频制作人提升技能以及各类脚本插件开发技巧，创作出令人惊叹的视觉效果和动态图形设计以及可商业化的插件。</p>
    </div>

    <div class="footer-links">
      <a href="https://github.com" target="_blank">GitHub</a>
      <a href="https://www.youtube.com" target="_blank">YouTube</a>
      <a href="https://space.bilibili.com/3546734150028132" target="_blank">B站</a>
      <a href="https://v.douyin.com/Y6r0eNKeK10" target="_blank">抖音</a>
      <a href="https://www.xiaohongshu.com/" target="_blank">小红书</a>
      <a href="https://www.aliyun.com" target="_blank">阿里云</a>
      <a href="https://developer.adobe.com/apis/" target="_blank">Adobe</a>
      <a href="/md.html" target="_blank">文档转换器</a>
      <a href="/contact.html" target="_blank">联系我们</a>

    </div>

    <div class="copyright">
      <p>&copy; 2010-2025 After Effects极客工坊 保留所有权利。</p>
      <p>未经明确书面许可，禁止转载、复制或使用本站的任何代码、设计、文字及图片内容。</p>
    </div>

  </div>

</footer>

<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?edee0718cc500c919471d2aaa92877f6";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>